.section{
    padding: 7rem 7rem;
    background-color: var(--primary-white);
    background-image: url("../Assets/rectangle-1.svg"), url("../Assets/rectangle-2.svg"), url("../Assets/rectangle-3.svg"), url("../Assets/rectangle-4.svg"), url("../Assets/rectangle-5.svg"), url("../Assets/rectangle-6.svg");
    background-position: top 20% right, right center, right bottom 50%, left bottom, left -3% bottom -35%, left -11% bottom -40%;
    background-repeat: no-repeat;
}

.section-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-text{
    width: 35%;
}

.section-text > h1{
    color: var(--primary-blue);
}

.section-text > p{
    color: var(--secondary-grey);
    font-size: .8rem;
}

.section-description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    gap: 3rem;
}

.section-description img{
    margin-bottom: 1rem;
}

.section-description h4{
    color: var(--primary-blue);
    font-weight: 700;
    margin: 0;
    line-height: 32px;
    font-size: 1.3rem;
}

.section-description p{
    color: var(--secondary-grey);
    font-size: .8rem;
    line-height: 20px;
}

.section-image{
    display: flex;
    justify-content: center;
    margin: 7rem 0;
}

.section-image img{
    filter: drop-shadow(-28px 46px 60px rgba(9, 30, 66, 0.08));
}

@media only screen and (max-width: 26.5625rem){
    .section{
        padding: 2rem;
        background-image: url("../Assets/rectangleMobile-1.svg"), url("../Assets/rectangleMobile-2.svg"), url("../Assets/rectangleMobile-6.svg"), url("../Assets/rectangleMobile-3.svg"), url("../Assets/rectangleMobile-4.svg"), url("../Assets/rectangleMobile-5.svg");
        background-position: top right, top 23% right, top 10% right, left bottom 20%, left bottom 5%, left bottom 7%;
    }

    .section-main{
        flex-direction: column;
    }

    .section-text{
        width: 100%;
    }

    .section-text > p{
        font-size: 16px;
    }

    .section-description{
        flex-direction: column;
        width: 100%;
        margin-top: 2rem;
        padding: 0 1.5rem;
    }

    .section-description p{
        font-size: 14px;
    }
}