.pass-error-bg{
    padding-top: 3rem;
}

.form-input > #pass, .form-input > #newPass{
    width: 100%;
    padding: .7rem;
    border: 1px solid #DE350B;
    border-radius: 4px;
    outline-color: #DE350B;
}

.pass-error-logo{
    margin-bottom: 1rem;
}

