@font-face{
    src: url(./Components/Assets/Circular\ Std\ Medium\ 500.ttf);
    font-family: Circular Std;
}

@font-face{
    src: url(./Components/Assets/CircularStd-Medium.ttf);
    font-family: Circular Std Midi;
}

:root{
    /*COLOUR VARIABLES*/
    --primary-white: #FFFFFF;
    --secondary-blue: #0052CC;
    --primary-grey: #A5ADBA;
    --primary-blue: #091E42;
    --primary-blue-light: #344563;
    --grey-background: #F4F5F7;
    --secondary-grey: #5E6C84;
    --secondary-white: #FAFBFC;

    --login-grey: #42526E;
    --placeholder-grey: #97A0AF;
    --divider-grey: #C1C7D0;
}

html{
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    scroll-behavior: smooth;
    font-family: 'Circular Std', -apple-system;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}