.sponsors{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10rem;
    padding: 1rem 7rem;
    background: transparent;
    border: none;
}

.sponsors img{
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width: 26.5625rem){
    .sponsors{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        margin: 0;
        padding: 3.5rem;
    }

    .sponsors > div{
        justify-self: center;
        align-self: center;
    }

    .sponsors > div:nth-of-type(2){
        grid-column: 2 / -1;
        grid-row: 2 / -1;
    }

    .sponsors > div:last-of-type{
        grid-column: 2 / -1;
        grid-row: 1 / 2;
    }
}